{{#if show}}
  {{#paper-dialog class='request-contact' onClose=(action "cancel")}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Contact</h2>
      <p class='text'>Thank you for your interest. Please leave your name and email address and I will get back to you as soon as possible.</p>
      {{#if (eq state 'request')}}
        {{paper-input label="name" autofocus=true value=name onChange=(action (mut name))}}
        {{paper-input label="email" value=email onChange=(action (mut email))}}
        {{paper-input label="note (optional)" textarea=true value=note onChange=(action (mut note))}}
      {{else if (eq state 'requesting')}}
        <div class="loading-box">
          {{paper-progress-circular}}
          <div class="loading-text">
            Submitting Request...
          </div>
        </div>
      {{/if}}
    {{/paper-dialog-content}}

    {{#if (eq state 'request')}}
      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "cancel")}}Cancel{{/paper-button}}
        {{#paper-button primary=true raised=true onClick=(action "submit")}}Submit{{/paper-button}}
      {{/paper-dialog-actions}}
    {{/if}}

  {{/paper-dialog}}
{{/if}}
